[Desktop Entry]
Version=1.0
Type=Application
Name=Mój Komputer
Comment=
Exec=thunar computer:///
Icon=computer
Path=
Terminal=false
StartupNotify=false
