[Desktop Entry]
Version=1.1
Type=Application
Name=Python (v3.13)
Comment=Python Interpreter (v3.13)
Icon=/usr/share/pixmaps/python3.13.xpm
Exec=/usr/bin/python3.13
Terminal=true
Actions=
Categories=Development;
StartupNotify=true
