[Desktop Entry]
Version=1.1
Type=Application
Name=Menedżer plików
NoDisplay=true
Comment=Przegląda system plików i zarządza jego zawartością
Icon=org.xfce.filemanager
OnlyShowIn=XFCE;
Exec=exo-open --launch FileManager %u
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Keywords=plik;menedżer;eksplorator;przeglądaj;system plików;katalog;folder;xfce;
StartupNotify=true
